body {
    margin: 0;
}


.sprite {
    background-image: url('./img/sprite.png');
    height: 24px;
    width: 24px;
}

.more {
    background-repeat: no-repeat;
    background-position: -338px -324px;
}